@charset "UTF-8";

/* +++++ CLEAR DEFAULT STYLES +++++ */
body, a, p, img, h1, h2, h3, h4, h5, center, form, ul, ol, li, input {
	margin:0;
	padding:0;
	list-style-type:none;
	font-family: Tahoma, Geneva, sans-serif;
	}

/* +++++ UNIVERSAL STYLES +++++ */
body {
    margin:0 auto;
	width:960px;
	}
#header {
    height:100px;
    margin-top:10px;
    border-bottom:solid;
    border-bottom-width:thin;
}

#loginStatus {

}
#mainContent {
	clear: both;
	padding-top:10px;
	min-height:600px;
}
#mugshotThumb {
    width:100px;
    height:auto;
    border-style:solid;
    border-width:thin;
}

/* +++++ RACE PAGE +++++ */
#pastRaces {
	margin-top:20px;
}

/* +++++ CANDIDATE PAGE +++++ */
#candidate_page_mainbar {
	float: left;
	width:570px;
	padding-left:5px;
	padding-right:5px;
}
#candidateName {
	font-size:220%;
}
#raceTitle {
	text-align:left;
	padding-left:20px;
	padding-bottom:15px;
	width:100%;
}
#qSection {
	padding-left:15px;
}
.bigQ {
	float:left;
	clear:both;
	font-size:250%;
}
.question {
	padding-top:0;
	padding-left:10px;
	width:90%;
	float:left;
	font-weight:bold;
}
.answer {
	clear: both;
	padding-bottom:15px;
	padding-left:20px;
	font-size:95%;
}
#genStatement_wrapper {
	clear:both;
	padding:10px 0 10px 15px;
}
#genStatement {
	padding:0 0 0 15px;
	font-size:95%;
}
#candidate_page_left {
	padding-right:5px;
	float: left;
	height:auto;
	width:185px;
/*	border-right:solid;
	border-right-width:thin;*/
}
#mugshot {
	width:180px;
	height:auto;
    border-style:solid;
    border-width:thin;
}
.bioTitle {
	font-size:24px;
	font-weight: bold;
	text-align:left;
}
.bioInfo {
	font-size:14px;
}

#candidate_page_right {
	float: left;
	width:180px;
	padding-left:5px;
	text-align:center;
}
#candidate_page_right li {
	margin-bottom:5px;
}

#candPageFooter {
    clear:both;
    padding-top:15px;
}

/* +++++ CANDIDATE BIO FORM +++++ */
input, select, textarea {
	display: block;
}

/* +++++ MATCHMAKER GAME +++++ */
#gameWrapper {
	margin:0 auto 10px auto;
	width:700px;
	padding:0 auto;
	background-color:#D4D4D4;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
  	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

#mmForm fieldset {
	border:none;
	width:600px;
	margin-right:auto;
	margin-left:auto;
}
#mmForm legend {
	font-size:18px;
	margin:0px;
	padding:10px 0px;
	color:#b0232a;
	font-weight:bold;
}
#mmForm label {
	display:block;
	margin:15px 0 5px;
}
#mmForm .prev, #mmForm .next {
	background-color:#b0232a;
	padding:5px 10px;
	color:#fff;
	text-decoration:none;
}
#mmForm .prev:hover, #mmForm .next:hover {
	background-color:#000;
	text-decoration:none;
}
#mmForm .prev {
	float:left;
}
#mmForm .next {
	float:right;
}
#steps {
	list-style:none;
	width:600px;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
}
#steps li {
	font-size:20px;
	float:left;
	padding:10px;
	color:#b0b1b3;
}
#steps li span {
	font-size:11px;
	display:block;
}
#steps li.current {
	color:#000;
}
.mmQuestion {
	font-size:125%;
	font-weight:bold;
	text-align:center;
	clear:both;
}
fieldset p {
	clear:both;
	width:;
	padding-top:10px;
	margin-right:auto;
	margin-left:auto;
}
#mmForm input {
	display:inline;
	margin:0 5%;
	width:auto;

}
#mmForm #agree {
	display:inline;
	float:right;
	font-size:80%;
}
#mmForm #disagree {
	display:inline;
	float:left;
	font-size:80%;
}
.radio_wrapper {
	margin-right:auto;
	margin-left:auto;
	width:500px;
}
#mmForm .response_label {
	clear:both;
	padding: 10px 0 0 0;
	font-size:90%;

}
#mmForm .mmAnswer {
	padding:0 20px 5px 20px;
	clear: both;
	font-style:italic;

}
.submit_button {
	display:block;
	margin-left:25%;
	margin-right:25%;

}