@charset "UTF-8";

/* +++++ CLEAR DEFAULT STYLES +++++ */
body, a, p, img, h1, h2, h3, h4, h5, center, form, ul, ol, li, input {
	margin:0;
	padding:0;
	list-style-type:none;
	font-family: Tahoma, Geneva, sans-serif;
	}

/* +++++ UNIVERSAL STYLES +++++ */
body {
    margin:0 auto;
	width:960px;
	}
#header {
    height:100px;
    margin-top:10px;
    border-bottom:solid;
    border-bottom-width:thin;
}

#footer {
	clear:both;

}
#mainContent {
	clear: both;
	padding-top:10px;
	min-height:500px;
}
#mugshotThumb {
    width:100px;
    height:auto;
    border-style:solid;
    border-width:thin;
}

/* +++++ RACE PAGE +++++ */
#nav_form {
	width:450px;
	float:left;
	margin-right:auto;
	margin-left:auto;

}
#nav_form, #nav_form input, #nav_form select {
	display:block;
	margin:0 auto 5px auto;
}
#nav_form h2 {
	margin:0 auto 5px auto;
	text-align:center;
}
#nav_form select {
	width:250px;
}
#nav_form input {
	width:200px;
}
#pastRaces {
	margin-top:20px;
}
#VoterMap_Wrapper {
	width:450px;
	height:500px;
	float:right;
	margin: 0 auto 0 auto;
	padding:0 10px;
	border-left-style:solid;
	border-left-width:thin;
}
#VoterMap_Wrapper input {
	display:inline;
	margin: 0 0 5px 0;
	width:50%;
}
#VoterMap {
	width:400px;
	height:400px;
	border-style:solid;
	border-width:thin;
}

/* +++++ CANDIDATE PAGE +++++ */
#candidate_page_mainbar {
	float: left;
	width:570px;
	padding-left:5px;
	padding-right:5px;
}
#candidateName {
	font-size:220%;
}
#raceTitle {
	text-align:left;
	padding-left:20px;
	padding-bottom:15px;
	width:100%;
}
#qSection {
	padding-left:15px;
}
.bigQ {
	float:left;
	clear:both;
	font-size:250%;
}
.question {
	padding-top:0;
	padding-left:10px;
	width:90%;
	float:left;
	font-weight:bold;
}
.answer {
	clear: both;
	padding-bottom:15px;
	padding-left:20px;
	font-size:95%;
}
#genStatement_wrapper {
	clear:both;
	padding:10px 0 10px 15px;
}
#genStatement {
	padding:0 0 0 15px;
	font-size:95%;
}
#candidate_page_left {
	padding-right:5px;
	float: left;
	height:auto;
	width:185px;
/*	border-right:solid;
	border-right-width:thin;*/
}
#mugshot {
	width:180px;
	height:auto;
    border-style:solid;
    border-width:thin;
}
.bioTitle {
	font-size:24px;
	font-weight: bold;
	text-align:left;
}
.bioInfo {
	font-size:14px;
}

#candidate_page_right {
	float: left;
	width:180px;
	padding-left:5px;
	text-align:center;
}
#candidate_page_right li {
	margin-bottom:5px;
}

#candPageFooter {
    clear:both;
    padding-top:15px;
}

/* +++++ CANDIDATE BIO FORM +++++ */
#updateBioForm input, #updateBioForm select, #updateBioForm textarea {
	display: block;
}

/* +++++ MATCHMAKER GAME +++++ */
#gameWrapper, #mmWelcome {
	margin:0 auto 10px auto;
	width:700px;
	padding:0 auto;
	background-color:#D4D4D4;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
  	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
#mmWelcome {
	padding:10px;
}
#mmWelcome p {
	margin:5px 5px;
}
#mmWelcome #mmStartButton {
	margin-left:auto;
	margin-right:auto;
	font-size:24px;
}
#mmForm {
	padding:0 0 5px 0;
}
#mmForm fieldset {
	border:none;
	width:600px;
	margin-right:auto;
	margin-left:auto;
}
#mmForm legend {
	font-size:18px;
	margin:0px;
	padding:10px 0px;
	color:#b0232a;
	font-weight:bold;
}
#mmForm label {
	display:block;
	margin:15px 0 5px;

}
#mmForm .prev, #mmForm .next {
	background-color:#b0232a;
	padding:5px 10px;
	color:#fff;
	text-decoration:none;
}
#mmForm .prev:hover, #mmForm .next:hover {
	background-color:#000;
	text-decoration:none;
}
#mmForm .prev {
	float:left;
}
#mmForm .next {
	float:right;
}
#steps {
	list-style:none;
	width:600px;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	text-align:center;
}
#steps li {
	font-size:20px;
	display:inline;
	padding:10px;
	color:#b0b1b3;
}
#steps li span {
	font-size:11px;
	display:block;
}
#steps li.current {
	color:#000;
}
.mmQuestion {
	font-size:125%;
	font-weight:bold;
	text-align:center;
	clear:both;
}
fieldset p {
	clear:both;
	width:;
	padding-top:10px;
	margin-right:auto;
	margin-left:auto;
}
#mmForm input {
	display:inline;
	margin:0 5%;
	width:auto;

}
#mmForm #agree {
	display:inline;
	float:right;
	font-size:80%;
}
#mmForm #disagree {
	display:inline;
	float:left;
	font-size:80%;
}
.radio_wrapper {
	margin-right:auto;
	margin-left:auto;
	width:500px;
}
#mmForm .response_label {
	clear:both;
	padding: 10px 0 0 0;
	font-size:90%;

}
#mmForm .mmAnswer {
	padding:0 20px 5px 20px;
	clear: both;
	font-style:italic;

}
#mmForm .submit_button {
	clear:both;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
	font-size:20px;
}

/* +++++ POPUP CANDIDATE STLES FOR MATCHMAKER GAME +++++ */

#backgroundPopup {  
display:none;  
position:fixed;  
_position:absolute; /* hack for internet explorer 6*/  
height:100%;  
width:100%;  
top:0;  
left:0;  
background:#000000;  
border:1px solid #cecece;  
z-index:1;  
}  
#popupCandidate {  
display:none;  
position:fixed;  
_position:absolute; /* hack for internet explorer 6*/  
height:384px;  
width:408px;  
background:#FFFFFF;  
border:2px solid #cecece;  
z-index:2;  
padding:12px;  
font-size:13px;  
}  
#popupCandidate h1{  
text-align:left;  
color:#6FA5FD;  
font-size:22px;  
font-weight:700;  
border-bottom:1px dotted #D3D3D3;  
padding-bottom:2px;  
margin-bottom:20px;  
}  
#popupCandidateClose{  
font-size:14px;  
line-height:14px;  
right:6px;  
top:4px;  
position:absolute;  
color:#6fa5fd;  
font-weight:700;  
display:block;  
}  