<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}Voters Guide{% endblock %}</title>
    {% load static %}
    <link href="{% get_static_prefix %}main.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
</head>

<body>
    {% load static %}
    <a href="/matchmaker"><div id="header" style="background-image:url({% get_static_prefix %}mainHeader.png)"></div></a>
    <div id="mainContent">
    {% block content %}
    <!-- Scripts/etc to run the index page -->
    <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.ie.css" />
    <![endif]-->
    <script type="text/javascript" src="http://code.leafletjs.com/leaflet-0.3.1/leaflet.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="application/json" src="{% get_static_prefix %}leaflet/schools.json"></script>
    <script type="text/javascript" src="{% get_static_prefix %}leaflet/leafletembed.js"></script>
    <script type="text/javascript">
        $("document").ready(function() {
            
            $("#unopposed_btn").click(function () {
                var url = $("select :selected").val();
                window.location.href = url;
            });
            
         });
      
    </script>
     <div id="nav_form">
        {% if race_list %}
        <div id="comp_races">
            <h2>Upcoming Elections</h2>
            {% for race in race_list %}
            <table class="race_nav_wrapper">
                <caption>{{ race.race }}</caption>
                <tr>
                    <td>
                        <a class="race_nav_link" href="/matchmaker/{{ race.id }}">View Candidates</a>
                    </td>
                    <td>
                        <a class="race_nav_link" href="/matchmaker/{{ race.id }}/match_game">Play Matchmaker</a>
                    </td>
                </tr>
            </table>
            {% endfor %}
        </div>
        <div class="unopposed_nav_wrapper">
            <h3 style="clear:both;">Unopposed races</h3>
            <form name="form">
                <select name="unopposed_races">
                   {% for race in unopposed %}
                        <option value="/matchmaker/{{ race.id }}">{{ race.race }}</option>
                        {% endfor %}
                    </select>
            </form>
            <a id="unopposed_btn" href="#">View Candidate</a>
        </div>
    </div>
<!--         <div id="VoterMap_Wrapper">
            <h2> Enter an address to find your district</h2>
            <input id="geo_address" type=text value="123 MyStreet, MyCity">
            <input id="geo_button" type=button value="Find my school board">
            <div id="VoterMap"></div>
        </div> -->
        {% else %}
            <h2>No currently active races available. View past elections below. </h1>
        {% endif %}
        {% if past_races %}
        <div id="pastRaces">
            <h3>View Past Races</h3>
            <form name="form">
                <select name="race">
                    {% for race in past_races %}
                    <option value="/matchmaker/{{ race.id }}">{{ race.race }}</option>
                    {% endfor %}
                </select>
                <input type=button value="Go!" onclick="javascript:formHandler()">
            </form>
        </div>
        {% endif %}
    {% endblock %}
    </div>
    <div id="footer">
        <center>
            <div id="loginStatus">
            {% if user.is_authenticated %}
                <p>Welcome <a href="/matchmaker/{{ user.candidate.race.id }}/{{ user.candidate.id }}" >{{ user.get_full_name }}</a> | {{ user.last_login }} | <a href="/matchmaker/update">Edit Bio Page</a> | <a href="/matchmaker/logout/">Logout</a> | <a href="/matchmaker">Main</a></p>
            {% else %}
                <a href="/matchmaker">Main</a> | <a href="/matchmaker/login">Candidate Login</a> 
            {% endif %}
            </div>
            
        </center>
    </div>
</body>
</html>