{% extends 'matchmaker/index.html' %}
{% block title %}The Matchmaker{% endblock %}
{% block content %}
<script type="text/javascript">

	// Object containing our candidate information.
	function Matchinfo (question, candidate, answer) {
		this.question = question;
		this.candidate = candidate;
		this.answer = answer;
		this.score = 0;
		this.AddPoint = function(points) {
			return this.score = this.score+points;
		};
	};

	// Loop through the candidate info and make
	// Matchinfo objects for each candidate and question.
	// Should produce array of (# of questions * # of candidates) length.
	var cand_info = new Array();
	{% for candidate, question, answer in cand_info %}
	cand_info[{{ forloop.counter0 }}] = new Matchinfo('{{ question.question }}', '{{ candidate.id }}', '{{ answer }}');
	{% endfor %}
	
	console.log(cand_info.length); // DEBUG: Check that all Matchinfos are made.

	// Pull unique questions from the cand_info array.
	function findUniqueQuestions () {
		var allQuestions = new Array();
		for (i=0; i<cand_info.length; i++) {
			allQuestions[i] = cand_info[i].question;
		};
		return jQuery.unique(allQuestions);
	};
	// Unique questions stored here:
	var questions = findUniqueQuestions();
	
	console.log(questions); // DEBUG: Check that all questions are present. Should log 4 questions.

	$("document").ready(function() {

		// Dynamically set up our forms. 
		for (i=0; i<questions.length; i++) {
			$("#mmForm").append(
				"<fieldset id='question_"+i+"'></fieldset>"
			);

			$("#question_"+i).append(
				"<div class='mmQuestion'>"+questions[i]+"</div>"
			);

			for (x=0; x<cand_info.length; x++) {
				if (cand_info[x].question == questions[i]) {
					$("#question_"+i).append(
						"<div class='response_label'>Candidate response:</div><div class='mmAnswer'>"+cand_info[x].answer+"</div><div id='disagree'>Strongly disagree</div><input type='radio' name='"+i+"_"+cand_info[x].candidate+"' value='-2' /><input type='radio' name='"+i+"_"+cand_info[x].candidate+"' value='-1' /><input type='radio' name='"+i+"_"+cand_info[x].candidate+"' value='0' /><input type='radio' name='"+i+"_"+cand_info[x].candidate+"' value='1' /><input type='radio' name='"+i+"_"+cand_info[x].candidate+"' value='2' /><div id='agree'>Strongly agree</div>"
					);
				};
			};
		};

		$("#mmForm").append(
			'<input class="submit_button" id="submit" value="Find me a candidate" type="button">'
		);

		$("#mmForm").formToWizard({ submitButton: 'submit' });

}); 
</script>
<div id="gameWrapper">
	{% if cand_info %}
	<form id="mmForm" class='bbq'>
	</form>
	{% else %}
	<h2>Shit! There are no questions!</h2>
	{% endif %}
</div>
{% endblock %}
